h2{
    text-align: center;
    padding-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding-bottom: 15px;
   color: #22577a;
}



.contenedor{
    margin:50px auto;
    width: 560px ;
    height: 500px;
    padding: 30px;
    background-color:  #99e2b4;
    border-radius: 15px;
    padding-bottom: 10px;
   
 }

  
table,th,td{
    
    border: 1px solid black;
    padding: 5px;
    border-spacing: 3px;
    margin-left: 60px;

}
td{
    text-align: center;
}
caption{

    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 20px;
     line-height: 50px;
}
th{
color :#f1faee;

background-color: #22577a;
}

.elemento input[type="submit"] {
    background-color:#007f5f ;
   
    border: double 2px;
    border-radius: 20px;
    letter-spacing: 5px;
    border-color: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    margin-top: 40px;
    font-weight: bold;
    margin-left: 150px;
  }

  #submit_btn:hover {
    color: #ffffff;
    background-color:#22577a;
    
}


#form {
    width: 270px;
    margin: 0 auto;
    height: 60px;
  }
  
  #form p {
  text-align:center;
   
  }
  
  #form label {
    font-size: 40px;
  }
  
  input[type="radio"] {
    display: none;
    
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  
  }

  h3{
      color: #22577a;
  }

  li i{
    color: #000;
    padding-top: 10px;
    margin-left: 550px;
    font-size: 1.5em;
    }
    li{
        list-style-type: none;
    }
 
  
 